{{!-- <div class = 'content-div'>
        <h4 style = 'text-align: center;'> Message Center </h4>
        <div id = 'messages-div'>
            <div id ='message-details-div'>
                <h5 id = 'compression-title'> Send </h5>
                <form onsubmit = 'return addMessage(this)' id = 'messages-form'>
                    <input type="text" name = 'name' id = 'name' placeholder = 'Enter your name'>
                    <input type="text" name = 'surname' id = 'surname' placeholder = 'Enter your surname'>
                    <input type="text" name = 'text' id = 'email' placeholder = 'Enter your email'>
                    <input type="text" name = 'age' id = 'age' placeholder = 'Enter your age'>
                    <input type="text" name = 'alias' id = 'alias' placeholder = 'Enter your alias'>
                    <input type="text" name = 'text' id = 'text' placeholder = 'Enter your message'>
                    <button class = "btn btn-info"> Send </button>
                </form>
            </div>
            
            <div id = 'chat-div'>
                <h5 id = 'h5'> Online Chat </h5>
                <div id = 'chat-messages-div'> 
                    <!-- Here it is that the messages are rendered -->
                </div>
            </div>
        </div>

    </div>
     <script src = 'https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/messages.js"></script> --}}