    <form id="chat-form">
        <input type="text" name="message" placeholder="Escriba su mensaje">
        <button type="submit">Enviar</button>
    </form>
    <div id="chat-messages">
        <!-- acá se va a renderizar el chat -->
    </div>