
<div class="d-flex align-items-center flex-column">
    <div class="alert alert-warning rounded-4" role="alert">
        <h1>Gracias por tu compra!</h1>
    </div>

    <button class="btn btn-primary" onclick="location.href='/api/auth/inicio'">VOLVER AL INICIO</button>
</div>