<div class="d-flex flex-column align-items-center">
 
        <h2>Credenciales incorrectas</h2>

        <button class="btn btn btn-primary mt-2" onclick="location.href='/'">VOLVER AL INICIO</button>

</div>