<div>
    <div class="d-flex flex-column align-items-center">
        <h2>ERROR!</h2>
        <P>Ya existe un usuario con ese correo.</P>
        <button class="btn btn btn-primary mt-2" onclick="location.href='/api/auth/inicio'">VOLVER AL INICIO</button>

    </div>
</div>