<div class="d-flex flex-column align-items-center">
  <p>Usuario: {{email}}</p>
     <button onclick="location.href='/api/products'">Ver Productos</button>
  <form action="/logout" method="post">
    <button class="btn btn btn-primary mt-2" type="submit">FINALIZAR SESION</button>
  </form>
  <div class="d-flex justify-content-center mt-5">
      <div class="content-div">
        <h4 style="text-align: center;"> Message Center </h4>
        <div id="messages-div">
          <div id="message-details-div">
  
            <form onsubmit="return addMessage(this)" class="messages-form">
              <div class="d-flex flex-column align-items">
                
                <input
                  class="text-center mb-2 mx-4"
                  type="text"
                  name="text"
                  id="email"
                  placeholder="email"
                />
                <input
                  class="text-center mx-4"
                  type="text"
                  name="text"
                  id="text"
                  placeholder="mensaje"
                />
              </div>
              <button class="btn btn-info"> Send </button>
            </form>
          </div>

          <div id="chat-div">
            <h5 id="h5"> Online Chat </h5>
            <div id="chat-messages-div">
              <!-- Here it is that the messages are rendered -->
            </div>
          </div>
        </div>

      </div>
    </div>
</div>