<div class="d-flex flex-column align-items-center">
  <p>Usuario: {{email}}</p>
     <button onclick="location.href='/api/products'">Ver Productos</button>
  <form action="/api/auth/logout" method="post">
    <button class="btn btn btn-primary mt-2" type="submit">FINALIZAR SESION</button>
  </form>
</div>