


    <div class="mt-10 w-1/4 bg-gray-800 py-10 px-10 rounded-box">
        <div class="mb-2 text-center">
            <h2 class="text-3xl ">Inicia sesión!</h2>
        </div>
        <div>
            <div class="card mb-3" style="max-width: 30rem; border: 1px">
                <div class="card-body" id="card-body">
                     <div class = 'general-card column-centered-div'>
                    <form action="/api/auth/login" method="post" id="loginForm" class = "d-flex flex-column align-items-center">
                        <input class="mx-10 my-2 text-center" style="width: 15rem; height: 3rem" id="email" type="text"  name="email" placeholder="Ingrese su email" style="width: 20rem">
                        <input class="mx-10 my-2 text-center" style="width: 15rem; height: 3rem" id="password" type="password" name="password" placeholder="Ingrese su contraseña" style="width: 20rem">
                        <button class="btn btn btn-primary mt-2 mb-0" style="width: 10rem;" type="submit">Ingresar</button>
                    </form>
                     <button class='btn btn-primary  m-0' style="width: 10rem" onclick="location.href='/'"> Atras</button>
                     </div>
                </div>
            </div>
        </div>
    </div>

