
<div class="">
    <div class="mt-10 w-1/4 bg-gray-800 py-10 px-10 rounded-box d-flex align-items-center flex-column">
        <div class="mb-2 text-black">
            <h2 class="text-3xl mb-1"> REGISTRARSE</h2>
        </div>
        <div class="card text-bg-light mb-3" style="max-width: 30rem; border: 1px">
            <div class="card-body general-card">
                <form action="/api/auth/signup" method="post" role="form" autocomplete="off" class="d-flex align-items-center flex-column" "general-card column-centered-div"> 
                    <input id="name" name="name" placeholder="Nombre" 
                        type="text" class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" required />

                    <input id="lastname" name="lastname" placeholder="Apellido"
                      class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" type="text" required />

                    <input id="age" name="age" placeholder="Edad"
                      class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" type="number" required />
                        
                         <input id="phone" name="phone" placeholder="Telefono"
                       class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" type="number" required />

                    <input id="adress" name="adress" placeholder="Dirección"
                        type="text" class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" required />

                    <input id="email" name="email" placeholder="Correo electronico" 
                        type="email" class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" required />

                    <input id='password' name="password" placeholder="ingresa tu contraseña" 
                        type="password" class="mx-10 my-2 text-center" style="width: 15rem; height: 2.5rem" required />

              
                    <input class="btn btn-primary mt-2" type="submit" style="width: 10rem;" value="Sign up" /> 
                   
                <button class='btn btn-primary mt-2 py-2' style="width: 10rem;" onclick="location.href='/'"> Atras</div> 
                </form>
              
                 <div>
        </div>
            </div>
        </div>

    </div>
</div>

